body {
  margin: 0;
  padding-left: 0;
  background-color: #df87aa;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#3b2744;
  margin-left: 440px;
}

.squares {
  flex: 0%;
  height: 20px; 
  width: 30px;
  border: 3px inset #784e8b;
  margin-left: 2px;
  padding-left: 300px;
}