body {
  margin: 0;
  padding-left: 0;
  background-color: #cc7497;
}

h1 {
  font-family: Arial, Helvetica, sans-serif; 
  color:#3b2744;
  margin-left: 440px;
}

.squares {
  flex: 0%;
  height: 20px; 
  width: 30px;
  border: solid black 1px;
  margin-left: 2px;
  padding-left: 300px;
  border: inline;
}